@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@1,700&display=swap');
.Passion-Content, .Profession-Content, .About-content{
    background-color: aliceblue;
    float: left;
    width: 98%;
    border: 1%;
    font-family: 'Caladea', serif;
    font-size: x-large;
    word-wrap: break-word;
}
.Passion-Content-Header{
    padding: 5%;
    display: flex;
    padding-bottom: 0%;
}
.Passion-Content-Header p{
    padding: 2%;
    font-family: 'Tenali Ramakrishna', sans-serif;
    text-align: justify;
    font-size: xx-large;
    padding-bottom: 0%;
}
.Passion-Content-Header img{
    width: 15%;
    height: 15%;
}
.Passion-Maintext, .Profession-Maintext{
    padding: 5%;
    padding-top: 0%;
    text-align: justify;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: xx-large;
}
.Passion-Maintext img{
    width: 10%;
    height: 10%;
    border-radius: 50px;
}
.Passion-Content-Header a img{
    width: 90%;
    height: 85%;
}
.Profession-Maintext .Skillset ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    column-gap: 5%;
    row-gap: 12%;
}
.Profession-Maintext .Skillset ul li{
    padding: 1%;
    background-color: khaki;
    box-shadow:0 0 0 5px rgb(205, 188, 42) ;
    color: rgb(116, 14, 116);
    text-align: center;
    font-weight: bold;
    
}
.Blogs-Section, .Experience, .Project-Section, .Certificates-Section{
    padding: 2%;
}
.Blogs-Section-Content{
    display: flex;
}
.Blogs-Section-Content .Image-Slider{
    width: 70%;
    float: left;
}

.VLine{
    padding: 1%;
    border-left: 5px solid #e6520d;
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
}
.VLine > ul {
    list-style-type: none;
}
.Content-box2{
    padding: 2%;
    box-shadow:0 0 0 5px darkseagreen;
    background-color: rgb(201, 245, 201);
    color: rgb(186, 31, 114);
}
.Content-box1{
    padding: 2%;
    box-shadow:0 0 0 5px olive;
    background-color:rgb(237, 237, 157) ;
    color: rgb(186, 31, 114);
}
.logo img{
    float: left;
    width: 11%;
    height: 7%;
    margin-left: -15%;
    border: solid 3px;
}
.About-content{
    width: 70%;
    float: left;
    background-image: url('../images/GV1.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    position: fixed;
    word-wrap: break-word;

}
.Main-Pic h1{
    padding: 5%;
    margin-top: 12% ;
    float: right;
    word-wrap: break-word;

}
.Intro{
    padding: 1%; 
    width: 65%;
    bottom: 0;
    position: fixed;
    word-wrap: break-word;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
}
.Intro h2{
    word-wrap: break-word;
    padding: 2%;
    background-image: linear-gradient(to top left,rgb(21, 167, 21),rgba(50, 241, 255, 0.687));
    /* background-image: linear-gradient(to top left,rgba(50, 241, 255, 0.687),rgb(21, 167, 21)); */
    color: ivory;
  /*background-image: linear-gradient(to top left,rgb(244, 244, 19),rgb(21, 167, 21)); */
}
.Intro h2 span{
    color: rgb(223, 44, 44);
}
.Certificates{
    padding: 2%;
}
.Certificates ul li{
    padding: 1%;
    max-width: auto;
    max-height: auto;
}
.Certificates ul li img{
    width: 30%;
    height: 40%;
}
.Certificates ul{
    list-style: none;
    display: grid;
    grid-template: 1fr 1fr ;
}
.Links ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Links ul li a{
    padding: 1%;
}
.Certificates-ImageSlider{
    height: auto;
    width: 70%;
}