@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
body{
  padding: 0;
}
.App {
  text-align: center;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-size: x-large;
  word-wrap: break-word;
  margin: 0,0;
  padding: 0;
}
.Side-bar{
  width: 30%;
  margin-left: 70%;
  /* background-color: #e2e3e6; */
  /* background-color: rgba(245, 207, 110, 0.886); */
  /* background-image: linear-gradient(to top left,#ff8a00,#e52e71); */
  background-image: linear-gradient(to top left,#f29326,#f2357a);
  height: 100%;
  position: fixed;
}
.Side-bar-img img{
  width: 60%;
  height: 30%;
  padding: 3%;
  top: 2%;
}
.Side-bar-img p{
  color: #e2e3e6;
  font-size: x-small;
}
.title{
  font-family: 'Playfair Display', serif;
  font-size: x-large;
  font-size: xx-large;
  word-wrap: break-word;
}
i{
  word-wrap: break-word;
}
.links ul{
  list-style: none;
  word-wrap: break-word;
}
.links ul li{
  background-color: whitesmoke;
  width: 50%;
  padding: 3%;
  border-radius: 50%;
  text-align: center;
}
.links ul li a{
  text-decoration: none;
  color: blue;
  word-wrap: break-word;
}
.links ul li a:focus{
  color: red;
}
.links ul li a:hover{
  color: black;
}
.Main-content{
  /* margin-left: 30%;  */
  height: 100%;
  width: 74%;
}
.Main-content-pic{
  box-sizing: border-box;
  width: 98%;
  height: auto;
  background-image: url('./images/GV1.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  backdrop-filter: initial;
  float: left;
  position: relative;
}
.Side-bar-footer ul li{
  list-style: none;
  display: inline-flex;
  gap: 2px;
}
