@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
.App {
  text-align: center;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-size: x-large;
  word-wrap: break-word;
}
.Side-bar{
  width: 30%;
  margin-left: 70%;
  background-color: #e2e3e6;
  height: 100%;
  position: fixed;
}
.Side-bar-img img{
  width: 60%;
  height: 30%;
  padding: 3%;
  top: 2%;
}
.Side-bar-img p{
  color: #e2e3e6;
  font-size: x-small;
}
.title{
  font-family: 'Playfair Display', serif;
  font-size: x-large;
  font-size: xx-large;
  word-wrap: break-word;
}
i{
  word-wrap: break-word;
}
.links ul{
  list-style: none;
  word-wrap: break-word;
}
.links ul li{
  background-color: whitesmoke;
  width: 50%;
  padding: 3%;
  border-radius: 50%;
  text-align: center;
}
.links ul li a{
  text-decoration: none;
  color: blue;
  word-wrap: break-word;
}
.links ul li a:focus{
  color: red;
}
.links ul li a:hover{
  color: black;
}
.Main-content{
  /* margin-left: 30%;  */
  height: 100%;
  width: 71.5%;
}
.Main-content-pic{
  box-sizing: border-box;
  width: 98%;
  height: auto;
  /* background-image: url('./images/GV1.jpeg'); */
  float: left;
  position: relative;
  background-blend-mode: lighten ;
  display: block;
  z-index: 1;
  object-fit: screen;
  font-stretch: expanded;
  background-repeat: no-repeat;
}
.Hello{
  margin-top: 10%;
  vertical-align: middle;
  color: black;
  height: 200%;
  font-family: 'Playfair Display', serif;
  font-size: xxx-large;
}
.Spacer{
  height: 500px;
  width: auto;
}
.About-section{
  padding: 8%;
  padding-top: 2%;
  color: black;
  background-color: whitesmoke;
  font-family: 'Fira Sans', sans-serif;
  font-size: x-large;
}
.Question{
  font-family: "Playfair Display", Georgia, serif;
  font-size: 18px;
  text-align: left;
}
.Side-bar-footer ul li{
  list-style: none;
  display: inline-flex;
  gap: 2px;
}
